<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Purchase List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="well">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>SerialNumber</th>
                        <th>purchaseName</th>
                        <th>purchaseId</th>
                        <th>customerName</th>
                        <th>customerPhone</th>
                        <th>customerAddress</th>
                        <th>customerEmail</th>
                        <th>shipmentStat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${purchase}">
                            <td th:text="${p.id}">Id</td>
                            <td th:text="${p.serialNumber}">SPSFyyyyMMddHHmmss01234</td>
                            <td th:text="${p.purchaseName}">purchaseName</td>
                            <td th:text="${p.purchaseId}">purchaseId</td>
                            <td th:text="${p.customerName}">customerName</td>
                            <td th:text="${p.customerPhone}">09-xx-xxx-xxx</td>
                            <td th:text="${p.customerAddress}">customerAddress</td>
                            <td th:text="${p.customerEmail}">xxxx@xxx.xxx.xx</td>
                            <td th:switch="${p.shipmentStat}">
                                <span th:case="1">訂單已生成</span>
                                <span th:case="2">已運送至物流中心</span>
                                <span th:case="3">配貨中</span>
                                <span th:case="4">出貨中</span>
                                <span th:case="5">已送達</span>
                                <span th:case="6">申請退貨</span>
                                <span th:case="7">狀態異常</span>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
