<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>添加資料</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap樣式 -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" 
              href="../static/css/bootstrap.min.css">
    </head>
    <body>              
    <body>    
        <div class="container">
            <h2 class="page-header">添加資料</h2>
            <div class="well">
                <!--請在此添加-->
                <form id="myform" action="#" th:action="@{/product/insertSave}" method="POST" th:object="${product}" enctype="multipart/form-data">
                    <input type="hidden" th:value="*{id}" name="id"/>
                    <div class="form-group">
                        <label for="name">名稱</label>
                        <input type="text" name="name" id="name" class="form-control" th:value="*{name}"/>
                    </div>
                    <div class="form-group">
                        <label for="brand">品牌</label>
                        <input type="text" name="brand" id="brand" class="form-control" th:value="*{brand}"/>
                    </div>
                    <div class="form-group">
                        <label for="madein">產地</label>
                        <input type="text" name="madein" id="madein" class="form-control" th:value="*{madein}"/>
                    </div>
                    <div class="form-group">
                        <label for="price">單價</label>
                        <input type="text" name="price" id="price" class="form-control" th:value="*{price}"/>
                    </div>
                    <div class="form-group">
                        <label for="qty">庫存量</label>
                        <input type="text" name="qty" id="qty" class="form-control" th:value="*{qty}"/>
                    </div>
                    <div class="form-group">
                        <label for="state">狀態</label>
                        <select name="state" id="state" class="form-control">
                            <option value="0" th:selected="(*{state}=='0')">未上架</option>
                            <option value="1" th:selected="(*{state}=='1')">準備中</option>
                            <option value="2" th:selected="(*{state}=='2')">已上架</option>                            
                        </select>
                    </div>
                    <!--                    <img th:src="*{image}" height="400", width="350">-->
                    <div class="form-group">
                        <img id="preview_progressbarTW_img" src="#" th:src="*{image}" height="320" width="180" style="display:block"/>
                        <input type="hidden" id="image" name="image" class="form-control" th:value="*{image}">
                        <label for="image">上傳圖片</label>
                        <!--<input type="file" name="fileimage" id="fileimage" targetID="image_img" class="form-control" onchange="readURL(this);checkfile(this);">
                                 <input type="text" name="image" id="image" class="form-control" th:value="*{image}"/>
                                                <img id="image_img" src="#" />-->
                        <p>
                            <input type="file" id="newimage" name="newimage" onchange="showname();" accept=".jpg">
                        </p> 
                    </div>
                    <button type="submit" class="btn btn-primary">送出</button>
                    <a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
                </form>
            </div>
        </div>

<!--        <script>
            document.getElementById('image').onchange = function () {
                alert('Selected file: ' + this.value);
            };
        </script>-->
        <script type="text/javascript">
            function setBlogrollImageName(basicfile) {
                document.getElementById("image").value = basicfile.value;
            }
        </script>
        <!--        <script>
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var imageTagID = input.getAttribute("targetID");
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = document.getElementById(imageTagID);
                                img.setAttribute("src", e.target.result)
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>-->
        <!--        <script type="text/javascript" language="javascript">//
                    function checkfile(sender) {
        
                        // 可接受的附檔名
                        var validExts = new Array(".jpg");
        
                        var fileExt = sender.value;
                        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                        if (validExts.indexOf(fileExt) < 0) {
                            alert("檔案類型錯誤，可接受的副檔名有：" + validExts.toString());
                            sender.value = null;
                            return false;
                        } else
                            return true;
                    }
                </script>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    </body>
</html>
